[bucket "master.tryserver.v8"]
	builder = v8_android_arm_compile_rel
	builder = v8_linux64_asan_rel_ng
	builder = v8_linux64_avx2_rel_ng
	builder = v8_linux64_gyp_rel_ng
	builder = v8_linux64_rel_ng
	builder = v8_linux64_rel_ng_triggered
	builder = v8_linux64_verify_csa_rel_ng
	builder = v8_linux_arm64_rel_ng
	builder = v8_linux_arm_rel_ng
	builder = v8_linux_chromium_gn_rel
	builder = v8_linux_dbg_ng
	builder = v8_linux_gcc_compile_rel
	builder = v8_linux_mipsel_compile_rel
	builder = v8_linux_mips64el_compile_rel
	builder = v8_linux_nodcheck_rel_ng
	builder = v8_linux_rel_ng
	builder = v8_linux_verify_csa_rel_ng
	builder = v8_mac_rel_ng
	builder = v8_presubmit
	builder = v8_win64_rel_ng
	builder = v8_win_compile_dbg
	builder = v8_win_nosnap_shared_rel_ng
	builder = v8_win_rel_ng
	builder = v8_linux_blink_rel
	builder = v8_linux64_sanitizer_coverage_rel
[bucket "master.tryserver.chromium.win"]
	builder = win_chromium_compile_dbg_ng
