[bucket "luci.v8.try"]

[bucket "luci.chromium.try"]

[bucket "master.tryserver.blink"]
	builder = linux_trusty_blink_rel

[bucket "master.tryserver.chromium.android"]
	builder = android_arm64_dbg_recipe
	builder = android_clang_dbg_recipe

[bucket "master.tryserver.chromium.win"]
	builder = win_optional_gpu_tests_rel
	builder = win7_chromium_rel_ng

[bucket "master.tryserver.chromium.mac"]
	builder = mac_chromium_rel_ng
