[bucket "luci.v8.try"]
	builder = v8_android_arm_compile_rel
	builder = v8_fuchsia_rel_ng
	builder = v8_linux64_asan_rel_ng
	builder = v8_linux64_fyi_rel_ng
	builder = v8_linux64_gcc_compile_dbg
	builder = v8_linux64_gyp_rel_ng
	builder = v8_linux64_msan_rel
	builder = v8_linux64_rel_ng
	builder = v8_linux64_sanitizer_coverage_rel
	builder = v8_linux64_tsan_rel
	builder = v8_linux64_ubsan_rel_ng
	builder = v8_linux64_verify_csa_rel_ng
	builder = v8_linux_arm64_dbg
	builder = v8_linux_arm64_gc_stress_dbg
	builder = v8_linux_arm64_rel_ng
	builder = v8_linux_arm_dbg
	builder = v8_linux_arm_rel_ng
	builder = v8_linux_blink_rel
	builder = v8_linux_chromium_gn_rel
	builder = v8_linux_dbg_ng
	builder = v8_linux_gc_stress_dbg
	builder = v8_linux_gcc_compile_rel
	builder = v8_linux_gcc_rel
	builder = v8_linux_mips64el_compile_rel
	builder = v8_linux_mipsel_compile_rel
	builder = v8_linux_nodcheck_rel_ng
	builder = v8_linux_noi18n_rel_ng
	builder = v8_linux_nosnap_dbg
	builder = v8_linux_nosnap_rel
	builder = v8_linux_rel_ng
	builder = v8_linux_shared_compile_rel
	builder = v8_linux_verify_csa_rel_ng
	builder = v8_mac64_asan_rel
	builder = v8_mac64_dbg
	builder = v8_mac64_rel
	builder = v8_mac_dbg
	builder = v8_mac_gc_stress_dbg
	builder = v8_mac_rel_ng
	builder = v8_node_linux64_rel
	builder = v8_presubmit
	builder = v8_win64_asan_rel_ng
	builder = v8_win64_dbg
	builder = v8_win64_msvc_compile_rel
	builder = v8_win64_rel_ng
	builder = v8_win_compile_dbg
	builder = v8_win_dbg
	builder = v8_win_nosnap_shared_rel_ng
	builder = v8_win_rel_ng

[bucket "master.tryserver.blink"]
	builder = linux_trusty_blink_rel

[bucket "master.tryserver.chromium.android"]
	builder = android_arm64_dbg_recipe
	builder = android_clang_dbg_recipe
	builder = android_optional_gpu_tests_rel

[bucket "master.tryserver.chromium.win"]
	builder = win_chromium_compile_dbg_ng
	builder = win_optional_gpu_tests_rel
	builder = win_chromium_rel_ng

[bucket "master.tryserver.chromium.mac"]
	builder = mac_optional_gpu_tests_rel
	builder = mac_chromium_rel_ng

[bucket "master.tryserver.chromium.linux"]
	builder = chromeos_daisy_chromium_compile_only_ng
	builder = linux_chromium_rel_ng
	builder = linux_optional_gpu_tests_rel
