[access]
	inheritFrom = v8
[access "refs/branch-heads/*"]
	create = group v8-admins
	forgeAuthor = group v8-admins
	forgeCommitter = group v8-admins
	push = group v8-committers
	pushMerge = group v8-admins
[access "refs/heads/*"]
	create = group v8-admins
	forgeAuthor = group v8-admins
	forgeCommitter = group v8-admins
	push = group v8-committers
	pushMerge = group v8-admins
[access "refs/tags/*"]
	create = group v8-tag-committers
	push = group v8-tag-committers
[access "refs/for/*"]
	create = group v8-admins
	forgeAuthor = group v8-admins
	forgeCommitter = group v8-admins
	push = group v8-admins
	pushMerge = group v8-admins
[access "refs/internal/*"]
	create = group v8-admins
	forgeAuthor = group v8-admins
	forgeCommitter = group v8-admins
	push = group v8-admins
	pushMerge = group v8-admins
