[access]
	inheritFrom = v8
[access "refs/branch-heads/*"]
	create = group chromium-branch-creators
	create = group git-numbering-bot
	create = group v8-autoroll
	forgeAuthor = group git-numbering-bot
	forgeAuthor = group v8-autoroll
	forgeCommitter = group git-numbering-bot
	forgeCommitter = group v8-autoroll
	push = group git-numbering-bot
	push = group v8-autoroll
[access "refs/heads/*"]
	create = group chromium-branch-creators
	create = group git-numbering-bot
	create = group v8-autoroll
	forgeAuthor = group git-numbering-bot
	forgeAuthor = group v8-autoroll
	forgeCommitter = group git-numbering-bot
	forgeCommitter = group v8-autoroll
	push = group git-numbering-bot
	push = +force group v8-autoroll
[access "refs/tags/*"]
	create = group v8-autoroll
	create = group v8-committers
	push = group v8-autoroll
	push = group v8-committers
	forgeAuthor = group v8-autoroll
	forgeAuthor = group v8-committers
	forgeCommitter = group v8-autoroll
	forgeCommitter = group v8-committers
[access "refs/internal/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	create = group v8-admins
	push = group mdb/chrome-git-admins
	push = group v8-admins
[access "refs/pending-tags/*"]
	create = group git-numbering-bot
	create = group v8-autoroll
	forgeAuthor = group git-numbering-bot
	forgeAuthor = group v8-autoroll
	forgeCommitter = group git-numbering-bot
	forgeCommitter = group v8-autoroll
	push = group git-numbering-bot
	push = group v8-autoroll
[access "refs/pending/*"]
	create = group v8-autoroll
	forgeAuthor = group chrome-commit-bot
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group chrome-commit-bot
	push = group v8-autoroll
	push = group v8-committers
[access "refs/for/*"]
	create = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = +force group mdb/chrome-git-admins
[access "refs/heads/candidate"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/lkgr"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/roll"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/canary"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = +force group v8-autoroll
[access "refs/heads/playground"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/playground-merge"]
	create = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/experimental/nikolaos/types"]
	owner = group v8-tag-committers
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = +force group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/for/refs/heads/experimental/nikolaos/types"]
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = +force group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/heads/master"]
	exclusiveGroupPermissions = push
	push = group git-numbering-bot
[access "refs/heads/ignore/foo"]
	pushMerge = group v8-autoroll
[access "refs/for/refs/heads/ignore/foo"]
	pushMerge = group v8-autoroll
[access "refs/pending-tags/heads/master"]
	exclusiveGroupPermissions = push
	push = group git-numbering-bot
[access "refs/pending/heads/master"]
	exclusiveGroupPermissions = push
	push = group chrome-commit-bot
	push = group v8-committers
[access "refs/heads/gnumb-test/*"]
	create = group mdb/chrome-git-admins
	delete = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = group git-numbering-bot
[access "refs/pending-tags/heads/gnumb-test/*"]
	create = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = +force group mdb/chrome-git-admins
[access "refs/pending/heads/gnumb-test/*"]
	create = group mdb/chrome-git-admins
	delete = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = +force group mdb/chrome-git-admins
[plugin "git-numberer"]
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/heads/gnumb-test/*
	validate-enabled-refglob = refs/heads/playground
	validate-enabled-refglob = refs/heads/*.*.*
	validate-enabled-refglob = refs/branch-heads/*.*
	validate-enabled-refglob = refs/internal/*
