[access]
	inheritFrom = v8
[submit]
	action = rebase always
	mergeContent = true

[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = NoBlock
	ignoreSelfApproval = true
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR has:unchanged-files OR is:MIN
[label "Commit-Queue"]
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyCondition = changekind:NO_CHANGE
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE

[access "refs/for/*"]
	push = group Logged-in Public Users
	create = group Logged-in Public Users
	forgeAuthor = group v8-committers
	addPatchSet = group v8-committers
	addPatchSet = group v8-scoped@luci-project-accounts.iam.gserviceaccount.com
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group v8-committers
	submit = group v8-committers
	label-Auto-Submit = +0..+1 group Change Owner
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group v8-committers
	labelAs-Commit-Queue = +0..+2 group v8-admins
	labelAs-Commit-Queue = +0..+2 group v8-scoped@luci-project-accounts.iam.gserviceaccount.com
	submit = group v8-scoped@luci-project-accounts.iam.gserviceaccount.com
	push = +force group v8-autoroll
	push = group v8-committers
	forgeAuthor = group v8-autoroll
	create = group chromium-branch-creators
	create = group v8-autoroll
	forgeAuthor = group v8-committers
	forgeCommitter = group v8-autoroll
	forgeCommitter = group v8-committers
	abandon = group v8-committers
	label-Owners-Override = +0..+1 group cria/project-v8-sheriffs

[access "refs/tags/*"]
	create = group v8-autoroll
	create = group v8-ci-pgo-builder
	create = group v8-committers
	push = group v8-autoroll
	push = group v8-ci-pgo-builder
	push = group v8-committers
	forgeAuthor = group v8-autoroll
	forgeAuthor = group v8-ci-pgo-builder
	forgeAuthor = group v8-committers
	forgeCommitter = group v8-autoroll
	forgeCommitter = group v8-ci-pgo-builder
	forgeCommitter = group v8-committers
[access "refs/branch-heads/*"]
	create = group chromium-branch-creators
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeAuthor = group v8-committers
	forgeCommitter = group v8-autoroll
	forgeCommitter = group v8-committers
	push = group v8-autoroll
	push = group v8-committers
	label-Code-Review = -1..+1 group v8-committers
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group v8-committers
	labelAs-Commit-Queue = +0..+2 group v8-scoped@luci-project-accounts.iam.gserviceaccount.com
	submit = group v8-committers
	submit = group v8-scoped@luci-project-accounts.iam.gserviceaccount.com
	label-Owners-Override = +0..+1 group cria/project-v8-sheriffs
	abandon = group v8-committers

[access "refs/heads/candidate"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/lkgr"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeAuthor = group v8-committers
	forgeCommitter = group v8-autoroll
	forgeCommitter = group v8-committers
	push = group v8-autoroll
	push = group v8-committers
[access "refs/heads/roll"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/canary"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = +force group v8-autoroll
[access "refs/heads/playground"]
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = +force group v8-autoroll
[access "refs/heads/playground-merge"]
	create = group v8-autoroll
	push = group v8-autoroll

[access "refs/heads/experimental/nikolaos/types"]
	owner = group v8-tag-committers
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = +force group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/for/refs/heads/experimental/nikolaos/types"]
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = +force group v8-tag-committers
	pushMerge = group v8-tag-committers

[access "refs/heads/ignore/foo"]
	pushMerge = group v8-autoroll
[access "refs/for/refs/heads/ignore/foo"]
	pushMerge = group v8-autoroll
[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	create = group v8-admins
	push = group mdb/chrome-git-admins
	push = group v8-admins

[access "refs/for/refs/heads/experimental/enricobacis/bounds"]
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/heads/experimental/enricobacis/bounds"]
	owner = group v8-tag-committers
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = group v8-tag-committers
	pushMerge = group v8-tag-committers
	label-Code-Review = -1..+1 group v8-tag-committers
	submit = group v8-tag-committers
[access "refs/for/refs/heads/experimental/leszeks/reducers"]
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/heads/experimental/leszeks/reducers"]
	owner = group v8-tag-committers
	create = group v8-tag-committers
	forgeAuthor = group v8-tag-committers
	forgeCommitter = group v8-tag-committers
	push = group v8-tag-committers
	pushMerge = group v8-tag-committers
[access "refs/tags/lkgr/*"]
	exclusiveGroupPermissions = create forgeAuthor forgeCommitter push
	create = group v8-autoroll
	forgeAuthor = group v8-autoroll
	forgeCommitter = group v8-autoroll
	push = group v8-autoroll
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
	push = group v8-autoroll
	push = group v8-committers
[access "refs/heads/tbd"]
	exclusiveGroupPermissions = push
	push = group v8-autoroll
	push = group v8-committers
[mimetype "text/x-torque"]
        path = *.tq
[plugin "git-numberer"]
	generate-enabled-refglob = refs/heads/master
	generate-enabled-refglob = refs/heads/playground
	generate-enabled-refglob = refs/heads/*.*.*
	generate-enabled-refglob = refs/branch-heads/*.*
	generate-enabled-refglob = refs/branch-heads/test-*
	generate-enabled-refglob = refs/internal/*
	generate-enabled-refglob = refs/heads/main
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/heads/playground
	validate-enabled-refglob = refs/heads/*.*.*
	validate-enabled-refglob = refs/branch-heads/*.*
	validate-enabled-refglob = refs/branch-heads/test-*
	validate-enabled-refglob = refs/internal/*
	validate-enabled-refglob = refs/heads/main
[plugin "zosscoverage"]
	enable = false
	enableLowCoverageAlerting = false
	enableVoting = false
	incrementalCoverageDisplayErrorBelow = 0
	incrementalCoverageDisplayWarningBelow = 0
	labelName = Code-Coverage
	minAffectedFilesToEnforce = 0
	minAffectedLinesToEnforce = 0
	negativeVoteValue = -1
	positiveVoteValue = 1
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX,user=non_uploader -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Submit requirement for the 'Verified' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
